{% extends 'base.html' %}

{% block title %}Přehled jazyků{% endblock %}

{% block content %}
    <h2 class="text-center">Přehled jazyků</h2>
    <div class="row list">
    {% for jazyky in jazyky_list %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3><a href="{% url 'detail' jazyky.pk %}">{{ jazyky.nazev }}</a></h3>
            {% if jazyky.foto %}
            <a href="{% url 'detail' jazyky.pk %}"><img src="{{ jazyky.foto.url }}" alt="{{ jazyky.nazev }}" class="img-fluid"></a>
            {% endif %}
            <p>Oblíbenost: {% for star in "x"|ljust:jazyky.oblibenost %}<i class="fa fa-star"></i>{% endfor %}</p>
            <p>Zařazení: {{ jazyky.typ.oznaceni_typu }} {% if jazyky.typ.druh %}({{ jazyky.typ.druh }}){% endif %}</p>
            <hr>
        </div>
    {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <div class="text-center mb-3">
        <a href="{% url 'jazyky-create' %}" class="btn btn-success text-center">Nový produkt</a>
    </div>
    {% endif %}
{% endblock %}