{% extends 'base.html' %}

{% block title %}Detail jazyku{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Detail jazyku</h2>
        <div class="row">
            {% if jazyky.foto %}
            <div class="col-md-8">
            {% else %}
            <div class="col">
            {% endif %}
                <h3>{{ jazyky.nazev|upper }}</h3>
                <p>Oblíbenost: {% for star in "x"|ljust:jazyky.oblibenost %}<i class="fa fa-star"></i>{% endfor %}</p>
                <p>Zařazení: {{ jazyky.typ.oznaceni_typu }} {% if jazyky.typ.druh %}({{ jazyky.typ.druh }}){% endif %}</p>
                <p>{{ jazyky.popis }}</p>
            </div>
            {% if jazyky.foto %}
            <div class="col-md-4">
                <p><img src="{{ jazyky.foto.url }}" alt="{{ jazyky.nazev }}" class="img-fluid"></p>
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <a href="{% url 'list' %}" class="btn btn-warning">Zpět</a>
            {% if user.is_authenticated %}
            <a href="{% url 'jazyky-delete' jazyky.pk %}" class="btn btn-danger float-right">Smazat</a>
            <a href="{% url 'jazyky-update' jazyky.pk %}" class="btn btn-primary float-right">Upravit</a>
            {% endif %}
        </div>
    </div>
{% endblock %}